/* google font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

:root {
    --primary-color: #FF5400;
    --primary-font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Mulish', sans-serif;
    font-size: 10px;
}
a {
    text-decoration: none;
}
section {
    margin: 10rem auto;
}

/* Re-usable class */
.container {
    width: 81.5%;
    max-width: 1440px;
    margin: auto;
}
.active {
    color: var(--primary-color) !important;
    font-weight: 700 !important;
}
.bg-active {
    background-color: var(--primary-color);
    color: #FFF;
}
.section-title {
    font-size: 4rem;
    font-weight: 800;
    color: #131318;
    margin-bottom: 2.4rem !important;
}
.section-p {
    font-size: var(--primary-font-size);
    line-height: 2.6rem;
    color: #131318b3;
    margin-bottom: 2.4rem;
}
.btn-primary {
    background-color: var(--primary-color);
    color: #FFF;
    font-size: 2rem;
    font-weight: 700;
    padding: 14px 35px;
    margin-top: .8rem;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-center {
    text-align: center;
    width: 50%;
    margin: auto;
}

/* Header */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5.2rem;
}
.nav-logo {
    display: flex;
    align-items: center;
}
.nav-logo h3 {
    font-size: 3.6rem;
    font-weight: 800;
    margin-left: 1.6rem;
}
.nav-link {
    display: flex;
    gap: 4.4rem;
}
.nav-link a {
    font-size: 1.8rem;
    color: #131318B2;
}
.hamburger {
    color: #131318;
    display: none;
}

/* Banner */
.banner-container {
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Hero.png");
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 5rem;
}
.banner-container h1 {
    font-size: 6.4rem;
    font-weight: 800;
    color: #fff;
    margin-bottom: 2.4rem;
    padding-top: 10.6rem;
    text-align: center;
}
.banner-container p {
    width: 57%;
    margin: auto;
    text-align: center;
    font-size: var(--primary-font-size);
    color: #fff;
    line-height: 26px;
    margin-bottom: 4.8rem;
}
.banner-container .find-n-book {
    padding-bottom: 10.6rem;
}
.banner-container .find-n-book form {
    background-color: rgba(255, 255, 255, 0.30);
    width: 65.5%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    gap: 2.4rem;
    padding: 1.6rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
.banner-container .find-n-book form input, select, button {
    flex: 1;
    padding: 1.6rem;
    font-size: var(--primary-font-size);
    border: none;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);
    background-color: #FFF;
    outline: none;
    appearance: none;
}

/* Popular */
.tour-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5.3rem;
}
.tour-info {
    width: 50%;
}
.tour-info ul {
    margin-left: 2rem;
    width: 90%;
}
.tour-img-container {
    width: 46%;
}
.tour-img-container img {
    width: 100%;
}

/* Destination */
.destination-container p {
    margin-bottom: 4.8rem;
}
.places {
    display: grid;
    grid-template-areas: 
    "img1 img1 img1 img1 img1 img1 img2 img2 img2 img2 img2 img2"
    "img3 img3 img3 img3 img4 img4 img4 img4 img4 img5 img5 img5"
    "img6 img6 img6 img6 img6 img7 img7 img7 img7 img7 img7 img7" ;
    gap: 2.4rem;
}
.places img {
    width: 100%;
}
.place1 { 
    grid-area: img1;
    position: relative;
    width: 100%;
}
.place2 { 
    grid-area: img2;
    position: relative;
    width: 100%;
}
.place3 { 
    grid-area: img3;
    position: relative;
    width: 100%;
}
.place4 { 
    grid-area: img4;
    position: relative;
    width: 100%;
}
.place5 { 
    grid-area: img5;
    position: relative;
    width: 100%;
}
.place6 { 
    grid-area: img6;
    position: relative;
    width: 100%;
}
.place7 { 
    grid-area: img7;
    position: relative;
    width: 100%;
}
.places .img-caption {
    position: absolute;
    color: #FFF;
    font-size: 2.8rem;
    font-weight: 800;
}
/* What you will get with us */
.service-title {
    text-align: center;
}
.services-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5rem;
    margin-top: 7.5rem;
}
.service-info {
    width: 45%;
}
.service-info .num-badge {
    width: 7rem;
    height: 3.5rem;
    background-color: var(--primary-color);
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    display: flex;
    justify-content: start;
    margin-bottom: 1rem;
}
.service-info .num-badge h6 {
    font-size: 1.8rem;
    margin: .4rem;
    width: 2.7rem;
    height: 2.7rem;
    background-color: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-info h3 {
    font-size: 2.4rem;
    color: #131318;
    font-weight: 700;
    margin-bottom: 1rem;
}
.service-info p {
    font-size: var(--primary-font-size);
    margin-bottom: 4rem;
}
.service-img {
    width: 52%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}
.service-img .service-img1 {
    width: 55%;
    position: relative;
    right: -.8rem;
}
.service-img .service-img2 {
    width: 55%;
    border: 1rem solid rgb(255, 255, 255);
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    position: absolute;
    top: 21rem;
    right: 18rem;
}
.service-img img {
    width: 100%;
}

/* Why choose us */
.why-choose-us-info {
    display: flex;
    justify-content: center;
    gap: 4%;
    row-gap: 4.8rem;
    flex-wrap: wrap;
    margin-top: 4.8rem;
}
.choose-us-card1, .choose-us-card2, .choose-us-card3 {
    width: 48%;
    padding: 3.2rem 3.2rem 0;
}
.choose-us-card1 {
    border-radius: 16px;
    border: 1px solid #fbb56333;
    background: #fbb5630d;
}
.choose-us-card2 {
    border-radius: 16px;
    border: 1px solid #29cef633;
    background: #29cef60d;
}
.choose-us-card3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.choose-us-card1 img, .choose-us-card2 img, .choose-us-card3 img {
    margin-bottom: 3.2rem;
}
.choose-us-card1 h4, .choose-us-card2 h4, .choose-us-card3 h4 {
    color: #131318;
    font-size: 2.4rem;
    font-weight: 800;
    margin-bottom: 1.6rem;
}
/* Deals and discount */
.deals-container1, .deals-container3 {
    background-image: url("../Images/deals-bg-1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin-bottom: 2.4rem;
    margin-top: 4.8rem;
}
.deals-container1 .deal-box-container, .deals-container3 .deal-box-container {
    display: flex;
    justify-content: flex-end;
}
.deals-container2 {
    background-image: url("../Images/deals-bg-2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin-bottom: 2.4rem;
}
.deal-box-container {
    padding: 5.5rem;
}
.deal-box {
    width: 50%;
    padding: 5rem;
    border-radius: 16px;
    border: 2px solid #FFF;
    background-color: #ffffffcc;
    backdrop-filter: blur(2.5px);
}
.deal-info {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 2.4rem;
    margin-bottom: 2.4rem;
}
.deal-info h5 {
    display: flex;
    align-items: center;
}
.deal-info h5 img {
    width: 2.4rem;
    margin-right: .8rem;
}
.deal-info h5 {
    font-size: var(--primary-font-size);
    color: #5A5A5D;
}
.deal-box h3 {
    font-size: 2.4rem;
    font-weight: 800;
    color: #131318;
    margin-bottom: 1.6rem;
}
.deal-box > .section-p {
    margin-bottom: 1.6rem;
}
.deal-box h4 {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 2.4rem;
}
/* Spot blog and video */
.spot-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.8rem;
}
.spot-info {
    width: 45%;
}
.spot-video {
    width: 53%;
}
.spot-info ul li {
    width: 90%;
    margin-left: 1.5rem;
    color: #131318;
    font-weight: 700;
    margin-bottom: 3.2rem;
}
.spot-video iframe {
    width: 100%;
    height: 42.4rem;
    border-radius: 1.6rem;
    -webkit-border-radius: 1.6rem;
    -moz-border-radius: 1.6rem;
    -ms-border-radius: 1.6rem;
    -o-border-radius: 1.6rem;
}
/* Newsletter */
.newsletter-container {
    display: flex;
    justify-content: space-between;
}
.newsletter {
    width: 39%;
}
.newsletter form {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 4rem;
    height: 42.2rem;
}
.newsletter form h3 {
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
    font-weight: 800;
    color: #131318;
}
.newsletter form input {
    border: none;
    border-radius: 8px;
    outline: none;
    background: #1313180d;
    padding: 1.6rem 2rem;
    width: 100%;
    margin-bottom: 1.6rem;
    color: #131318;
    font-size: var(--primary-font-size);
}
.newsletter form hr {
    background-color: #1313181a;
    margin-bottom: 2.4rem;
}
.newsletter form .btn-primary {
    width: 100%;
}
.newsletter-img {
    width: 59%;
    position: relative;
}
.newsletter-img img {
    width: 100%;
    height: 42.2rem;
}
.newsletter-img .discount-badge {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #FFF;
    background-color: var(--primary-color);
    width: 32.4rem;
    height: 12rem;
    text-align: center;
    padding: 2rem;
    transform: translate(-1rem, -5.5rem) rotate(-20deg);
    border-radius: 1.6rem;
    -webkit-border-radius: 1.6rem;
    -moz-border-radius: 1.6rem;
    -ms-border-radius: 1.6rem;
    -o-border-radius: 1.6rem;
    -webkit-transform: translate(-1rem, -5.5rem) rotate(-20deg);
    -moz-transform: translate(-1rem, -5.5rem) rotate(-20deg);
    -ms-transform: translate(-1rem, -5.5rem) rotate(-20deg);
    -o-transform: translate(-1rem, -5.5rem) rotate(-20deg);
}
.newsletter-img .discount-badge h4 {
    font-size: 2.4rem;
    font-weight: 400;
}
.newsletter-img .discount-badge h3 {
    font-size: 3.2rem;
}
/* Footer */
footer {
    background: #1313180d;
}
.footer-container {
    width: 73%;
    margin: auto;
    text-align: center;
    padding: 11rem 0;
}
.footer-logo {
    justify-content: center;
    margin-bottom: 1.5rem;
}
.footer-container .section-p {
    width: 75%;
    margin: auto;
    margin-bottom: 3.2rem;
}
.footer-container .social-icon {
    display: flex;
    justify-content: center;
    gap: 3rem;
    font-size: 2.4rem;
    margin-bottom: 5rem;
}
.footer-container .social-icon a {
    color: #131318;
}
.footer-container hr {
    background: #1313181a;
    margin-bottom: 5rem;
}
.footer-container h4 {
    font-size: var(--primary-font-size);
    color: #131318;
}










/* For small devices */
@media screen and (max-width: 600px) {
    section {
        margin: 2.4rem auto;
    }
    /* Re-usable class */
    .container {
        width: 89.3%;
    }
    .section-title {
        font-size: 2rem;
        margin-bottom: 1.6rem !important;
    }
    .section-p {
        font-size: 1.4rem;
        line-height: 2.4rem;
    }
    .btn-primary {
        margin-top: 0;
    }
    .text-center {
        width: 90%;
    }
    /* header */
    .navbar {
        margin-top: 2rem;
    }
    .nav-logo img {
        width: 2.8rem;
    }
    .nav-logo h3 {
        font-size: 2.2rem;
        margin-left: 1rem;
    }
    .nav-link {
        display: none;
    }
    .hamburger {
        display: inline-block;
        font-size: 2.4rem;
    }
    /* Banner */
    .banner-container {
        background-size: cover;
        background-position: center;
        margin-top: 2rem;
    }
    .banner-container h1 {
        font-size: 2.2rem;
        padding-top: 3.2rem;
        margin-bottom: .8rem;
    }
    .banner-container p {
        width: 90%;
        font-size: 1.4rem;
        line-height: 2.1rem;
        margin-bottom: 3.2rem;
    }
    .banner-container .find-n-book form {
        flex-direction: column;
    }
    .banner-container .find-n-book form {
        width: 85%;
    }
    .banner-container .find-n-book {
        padding-bottom: 3.2rem;
    }
    /* Popular */
    .tour-container {
        flex-direction: column;
        gap: 2.4rem;
    }
    .tour-info, .tour-img-container {
        width: 100%;
    }
    .tour-info > ul {
        width: 95%;
    }
    /* Places */
    .destination-container h2, .destination-container p {
        width: 90%;
        margin-bottom: 1.6rem;
    }
    .places {
        display: grid;
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6"
        "img7";
        gap: 1.6rem;
    }
    .places img {
        height: 17.5rem;
    }
    .places .img-caption {
        font-size: 2rem;
        font-weight: 700;
    }
    /* What you will get with us */
    .services-container {
        margin-top: 2rem;
    }
    .services-container {
        flex-direction: column;
    }
    .service-info {
        width: 100%;
    }
    .service-info p {
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }
    .service-img {
        width: 100%;
        align-items: center;
    }
    .service-img .service-img1 {
        right: -6.5rem;
    }
    .service-img .service-img2 {
        top: -5rem;
        right: 15rem;
        border: none;
    }
    .service-img .service-img2 img {
        border: .5rem solid #FFF;
        border-radius: 1.8rem;
        -webkit-border-radius: 1.8rem;
        -moz-border-radius: 1.8rem;
        -ms-border-radius: 1.8rem;
        -o-border-radius: 1.8rem;
}
    /* Why choose us */
    .why-choose-us-container .text-center {
        width: 90%;
        margin-bottom: 1.6rem !important;
    }
    .why-choose-us-info {
        flex-direction: column;
        gap: 1.6rem;
        margin-top: 1.6rem;
    }
    .choose-us-card1, .choose-us-card2, .choose-us-card3 {
        width: 100%;
    }
    .choose-us-card1 img, .choose-us-card2 img, .choose-us-card3 img {
        margin-bottom: 1.6rem;
        width: 4.8rem;
    }
    .choose-us-card1 h4, .choose-us-card2 h4, .choose-us-card3 h4 {
        font-size: 2rem;
    }
    /* Deals and discount */
    .deals-container1, .deals-container2, .deals-container3 {
        background-size: cover;
        background-position: center;
        border-radius: 1.6rem;
        -webkit-border-radius: 1.6rem;
        -moz-border-radius: 1.6rem;
        -ms-border-radius: 1.6rem;
        -o-border-radius: 1.6rem;
}
    .deals-container1 .deal-box-container, .deals-container3 .deal-box-container {
        flex-direction: column;
        align-items: flex-end;
    }
    .deal-box-container {
        padding: 1.6rem;
        padding-top: 18.7rem;
    }
    .deal-box {
        width: 100%;
        padding: 2.4rem;
    }
    .deal-info {
        margin-bottom: 1.6rem;
    }
    .deal-box h3 {
        margin-bottom: .5rem;
    }
    .deal-box > p {
        display: -webkit-box; 
        -webkit-box-orient: vertical; 
        -webkit-line-clamp: 2; 
        overflow: hidden; 
        text-overflow: ellipsis;
        margin-bottom: 1.2rem !important;
    }
    .deal-info h5 {
        font-weight: 400;
    }
    .deal-box h4 {
        margin-bottom: 1.6rem;
    }
    .deal-box .btn-primary {
        padding: 1rem 2rem;
    }
    .see-all-btn {
        display: none;
    }
    /* Spot blog and video */
    .spot-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2.8rem;
        flex-direction: column;
    }
    .spot-info {
        width: 100%;
    }
    .spot-video {
        width: 100%;
    }
    .spot-video iframe {
        height: 22rem;
    }
    /* Newsletter */
    .newsletter-container {
        flex-direction: column;
        gap: 2.4rem;
    }
    .newsletter {
        width: 100%;
    }
    .newsletter form {
        padding: 2.4rem;
        height: auto;
    }
    .newsletter-img {
        width: 100%;
    }
    .newsletter-img img {
        height: 28rem;
    }
    .newsletter-img .discount-badge {
        width: 21.5rem;
        height: 8rem;
        padding: 1.5rem 2rem;
        transform: translate(-.5rem, -3.5rem) rotate(-20deg);
        -webkit-transform: translate(-.5rem, -3.5rem) rotate(-20deg);
        -moz-transform: translate(-.5rem, -3.5rem) rotate(-20deg);
        -ms-transform: translate(-.5rem, -3.5rem) rotate(-20deg);
        -o-transform: translate(-.5rem, -3.5rem) rotate(-20deg);
}
    .newsletter-img .discount-badge h4 {
        font-size: var(--primary-font-size);
        margin-bottom: -.5rem;
    }
    .newsletter-img .discount-badge h3 {
        font-size: 2.2rem;
        margin-top: -.5rem;
    }
    /* Footer */
    footer {

    }
    .footer-container {
        width: 100%;
        padding: 3.2rem 0;        
    }
    .footer-container p {
        margin-bottom: 1.6rem !important;
    }
    .footer-container .social-icon {
        margin-bottom: 1.6rem;
    }
    .footer-container hr {
        margin-bottom: 1.6rem;
    }
}